*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    border-radius: 20%;
    border: solid 1px rgb(197, 167, 167);
    cursor: pointer;
}

button:hover {
    box-shadow: 1px 1px 1px 1px rgba(209, 209, 209, 0.7);
}

#caculator{
    background-color: #ffd8d6;
    display: flex;
    flex-direction: column;
    width: 297px;
    border: 1px solid #943134;
}

#area-display{
    background-color: #ffe9e8;
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 90px;
    padding: 10px 10px;
}

#area-display #steps{
    font-size: 25px;
    word-break: break-all;
}

#area-display #display{
    color: #707070;
}

#area-btn{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 65px);
    grid-auto-rows: 65px;
    padding: 10px;
}

#area-btn #btn_result{
    grid-column: span 3;
}

.num{
    background-color:#fffde7;
}

.num:hover {
    background-color: #fffccd;
}

.op, #interger, #reset, #btn_result {
    background-color: #ffebee;
}

.op:hover, #interger:hover, #reset:hover, #btn_result:hover {
    background-color: #ffd0d7;
}

.off{
    visibility: hidden;
}
